.main{
    padding-inline: 4rem;
    margin-block: 3rem;
}


.boxes{
    margin-block: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.more{
    font-size: 3rem;
    line-height: 2.9rem;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.more p{
    position: relative;
    width: fit-content;
    height: 3.5rem;
    left: 90%;
    color: #70b6f0;
    border-bottom: 3px solid #70b6f0;

}

.lastCard{
    display: none;
}

@media (max-width:125rem){
    .lastCard{
        display: block;
    }
}

@media (max-width:90rem){
    .main{
        padding-inline: 3rem;
    }

    .more{
        padding: 1.5rem;
    }

    .more p{
        font-size: 2rem;
        line-height: 1.9rem;
        height: 2.5rem;
        left: 72%;
    }
}

@media (max-width:64rem){
    .main{
        padding-inline: 2rem;
    }

    .more{
        padding: 1rem;
    }

    .more p{
        font-size: 1.5rem;
        line-height: 1.4rem;
        height: 2rem;
        left: 82%;
    }
}


@media (max-width:768px){
    .main{
        padding-inline: 2rem;
    }

    .more{
        padding: 1rem;
    }

    .more p{
        font-size: 1.2rem;
        line-height: 1.3rem;
        height: 1.6rem;
        left: 91%;
    }
}