.main{
    height: fit-content;
    width: 45rem;
    background: #a5d2f626;
    margin: 2rem
}

.poster{
    overflow: hidden;
    height: 25rem;
}

.poster img{
    scale: 1.2;
    transform: translate(-9%,-4%);
}

.content{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #656565;
    padding: 2rem;
}

.headline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    font-size: 2rem;
    line-height: 2.2rem;
    border-bottom: 1px solid;
    letter-spacing: -1px;
}

.headText{
    font-size: 4rem;
    line-height: 3.9rem;
    margin-block: 2rem;
    letter-spacing: -1px;
}

.para{
    color: #a1a1a1;
    font-size: 1.7rem;
    line-height: 1.8rem;
    letter-spacing: -1px;
}

@media (max-width:90rem){
    .main{
        width: 30rem;
        margin: 1.5rem;
    }

    .poster{
        height: 16rem;
    }

    .content{
        padding: 1.5rem;
    }

    .headline{
        font-size: 1.5rem;
        line-height: 1.4rem;
        height: 2rem;
    }

    .headText{
        font-size: 2.5rem;
        line-height: 2.4rem;
        margin-block: 1.5rem;
    }

    .para{
        font-size: 1.3rem;
        line-height: 1.4rem;
    }
}

@media (max-width:64rem){
    .main{
        width: 25rem;
        margin: 1rem;
    }

    .poster{
        height: 14rem;
    }

    .content{
        padding: 1rem;
    }

    .headline{
        font-size: 1.1rem;
        line-height: 1.1rem;
        height: 1.4rem;
    }

    .headText{
        font-size: 2rem;
        line-height: 2.1rem;
        margin-block: 1.2rem;
    }

    .para{
        font-size: 1rem;
        line-height: 1.1rem;
    }
}

@media (max-width:768px){
    .main{
        width: 20rem;
        margin: 1rem;
    }

    .poster{
        height: 11rem;
    }

    .content{
        padding: 1rem;
    }

    .headline{
        font-size: 1rem;
        line-height: 1rem;
        height: 1.3rem;
    }

    .headText{
        font-size: 1.8rem;
        line-height: 2rem;
        margin-block: 1rem;
    }

    .para{
        font-size: 0.9rem;
        line-height: 1rem;
    }
}