.btn{
    width: 11rem;
    height: 3.5rem;
    color: #ffffff;
    border-radius: 40px;
    border: 1px solid #70b6f0;
    color: #679ECB;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.4rem;
    letter-spacing: -2%;
    background-color: #ffffff;
}

.btn:hover{
    cursor: pointer;
}


@media (max-width:90rem){
    .btn{
        font-size: 1.2rem;
        line-height: 1.1rem;
        width: 9rem;
        height: 3rem;
    }
}

@media (max-width:64rem){
    .btn{
        font-size: 0.9rem;
        line-height: 0.8rem;
        width: 6rem;
        height: 2.2rem;
    }
}


