.main{
    height: 41rem;
    width: 40rem;
    background: #a5d2f626;
}


.headText{
    position: relative;
    top: 2.3rem;
    left: 2rem;
    width: fit-content;
    height: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3rem;
    letter-spacing: -2%;
    color: #656565;
}

.text{
    position: relative;
    top: 3.2rem;
    left: 2rem;
    width: 33rem;
    height: auto;
    font-family: Switzer;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4rem;
    letter-spacing: -2%;
    color: #a1a1a1;
}

.heading{
    position: relative;
    width: 34rem;
    height: 2.2rem;
    left: 2rem;
    top: 8rem;
    border-bottom: 2px solid #65656533;
}

.heading p{
    width: fit-content;
    height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.7rem;
    letter-spacing: 10%;
    color: #656565;
    text-transform: uppercase;
    padding-left: 1rem;
}


.list{
    position: relative;
    top: 11rem;
    left: 5rem;
    width: 10rem;
    height: 6rem;
    list-style-type: disc;
}

.list li{
    font-family: Switzer;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 5rem;
    letter-spacing: -2%;
    color: #656565;

}

@media (max-width:90rem){
    .main{
        height: 30rem;
        width: 30rem;
    }

    .headText{
        top: 2rem;
        left: 1.5rem;
        font-size: 2.2rem;
        line-height: 2.1rem;
    }

    .text{
        width: 24rem;
        font-size: 1.1rem;
        line-height: 1rem;
    }

    .heading{
        width: 24rem;
        height: 2.2rem;
        left: 2rem;
        top: 6rem;
    }

    .heading p{
        height: 2rem;
        font-size: 1.3rem;
        line-height: 1.7rem;
        padding-left: 1rem;
    }

    .list{
        top: 7rem;
        left: 4rem;
    }
    
    .list li{
        font-size: 1.3rem;
        line-height: 3rem;    
    }

}

@media (max-width:64rem){
    .main{
        height: 26rem;
        width: 26rem;
    }

    .headText{
        top: 2rem;
        left: 1.5rem;
        font-size: 2.2rem;
        line-height: 2.1rem;
    }

    .text{
        width: 22rem;
        font-size: 1.1rem;
        line-height: 1rem;
        left: 1.5rem;
    }

    .heading{
        width: 22rem;
        height: 2.2rem;
        left: 2rem;
        top: 6rem;
    }

    .heading p{
        height: 2rem;
        font-size: 1.3rem;
        line-height: 1.7rem;
        padding-left: 1rem;
    }

    .list{
        top: 7rem;
        left: 4rem;
    }
    
    .list li{
        font-size: 1.3rem;
        line-height: 3rem;    
    }

}


@media (max-width:768px){
    .main{
        height: 20rem;
        width: 20rem;
    }

    .headText{
        top: 1.6rem;
        left: 1rem;
        font-size: 1.9rem;
        line-height: 1.8rem;
    }

    .text{
        width: 18rem;
        top: 0.5rem;
        left: 1rem;
        font-size: 1rem;
        line-height: 0.9rem;
    }

    .heading{
        width: 18rem;
        height: 1.5rem;
        left: 1rem;
        top: 2.5rem;

    }

    .heading p{
        height: 2rem;
        font-size: 1.2rem;
        line-height: 1.1rem;
        padding-left: 0.5rem;
    }

    .list{
        top: 3.5rem;
        left: 2rem;
    }
    
    .list li{
        font-size: 1rem;
        line-height: 2.5rem;    
    }

}