.main{
    width: 80%;
    height: fit-content;
    background-color: #ffffff;
    padding: 2rem;
    border: 1px solid #a1a1a133;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-block: 1.5rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: 400;
    color: #656565;
}

.serialNo{
    padding: 2rem;
    font-size: 2rem;
    line-height: 1.9rem;
}

.title{
    font-size: 3.6rem;
    line-height: 3.5rem;
    padding-left: 5rem;
}

.body p{
    width: 80%;
    font-family: Switzer;
    font-weight:400;
    font-size: 1.7rem;
    line-height: 1.4rem;
    letter-spacing: -2%;
    color: #a1a1a1;
}


.points{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline: 2rem;
    margin-block: 2rem;
}

.points p{
    font-weight: 500;
    color: #838383;

}

.tickMark{
    height: 5rem;
    width: 5rem;
    overflow: hidden;
    margin-inline: 2rem;
}

@media (max-width:125rem){
    .title{
        font-size: 3rem;
        line-height: 2.9rem;
    }

    .body p{
        font-size: 1.7rem;
        line-height: 1.6rem;
    }
}


@media (max-width:90rem){
    .main{
        padding: 1.5rem;
    }
    .header{
        padding-block: 1.2rem;
    }


    .serialNo{
        font-size: 1.5rem;
        line-height: 1.4rem;
        padding: 0.5rem;
    }

    .title{
        font-size: 2.5rem;
        line-height: 2.4rem;
        padding-left: 2.5rem;
    }

    .body p{
        font-size: 1.3rem;
        line-height: 1.2rem;
        width: 85%;
    }

    .points{
        margin-inline: 1.5rem;
        margin-block: 1.5rem;
    }

    .tickMark{
        height: 3.5rem;
        width: 3.5rem;
        margin-inline: 1.5rem;
    }
}


@media (max-width:64rem){
    .main{
        padding: 1rem;
    }
    .header{
        padding-block: 1rem;
    }


    .serialNo{
        font-size: 1.2rem;
        line-height: 1.1rem;
        padding: 0.5rem;
    }

    .title{
        font-size: 1.8rem;
        line-height: 1.7rem;
        padding-left: 2.3rem;
    }

    .body p{
        font-size: 1rem;
        line-height: 0.9rem;
        width: 90%;
    }

    .points{
        margin-inline: 1rem;
        margin-block: 1rem;
    }

    .tickMark{
        height: 3rem;
        width: 3rem;
        margin-inline: 1.1rem;
    }
}

@media (max-width:768px){
    .main{
        padding: 0.5rem;
    }
    .header{
        padding-block: 0.5rem;
    }

    .text{
        padding-left: 0.4rem;
    }


    .serialNo{
        font-size: 0.8rem;
        line-height: 0.7rem;
        padding: 0.5rem;
    }

    .title{
        font-size: 1.4rem;
        line-height: 1.3rem;
        padding-left: 2rem;
    }

    .body p{
        font-size: 0.8rem;
        line-height: 0.7rem;
        width: 95%;
    }

    .points{
        margin-inline: 0.9rem;
        margin-block: 0.9rem;
    }

    .tickMark{
        height: 2.5rem;
        width: 2.5rem;
        margin-inline: 0.9rem;
    }
}