.main{
    width: 578px;
    height: auto;
    max-height: 629px;
    background-color: #ffffff;
}

.header{
    width: 578px;
    height: 109px;  
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: 400;
    color: #656565;
}

.serialNo{
    position: relative;
    height: 16px;
    width: 18px;
    top: 47px;
    left: 43px;
    font-size: 16px;
    line-height: 15.92px;
    letter-spacing: 1%;
}

.title{
    position: relative;
    height: 32px;
    width: 324px;
    top: 23px;
    left: 160px;
    font-size: 32px;
    line-height: 31.84px;
    letter-spacing: 1%;
}

.body{
    transition: all 2s ease-in-out;
}

.body p{
    width: 444px;
    height: 30px;
    position: relative;
    left: 43px;
    font-family: Switzer;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -2%;
    color: #a1a1a1;
}

.pointA{
    height: auto;
    width: auto;
    max-width: 495px;
    max-height: 45px;
    position: relative;    
    top: 193px;
    left: 43px;
    gap: 30px;
}

.pointB{
    height: auto;
    width: auto;
    max-width: 495px;
    max-height: 45px; 
    position: relative;
    top: 258px;
    left: 43px;
    gap: 30px;   
}

.pointC{
    height: auto;
    width: auto;
    max-width: 495px;
    max-height: 45px; 
    position: relative;
    top: 323px;
    left: 43px;
    gap: 30px;   
}





.tickMark{
    position: relative;
    top: 26px;
    left: 43px;
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
    background-image: url('../Assets/Images/tick.png');
    background-position: center;
    background-size: contain;
}

.textContent{
    position: relative;
    top: -10px;
    left: 46px;
    width: 420px;
    height: 30px;

    font-family: Switzer;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -2%;
}