.main{
    height: auto;
    width: 80%;
    background-color: #ffffff;
    margin-left: 2rem;
}

.header{
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    padding: 1rem;
}


.serialNo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.title{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 2rem;
}

.body{
    width: 100%;
    height: auto;
    padding-block: 1rem;
}

.body p{
    font-weight: lighter;
    font-size: medium;
    padding-inline: 1rem;
}

.points{
    width: 100%;
    height: auto;
    margin: 0.25rem;
    display: flex;
    flex-direction: row;
}

.tickMark{
    height:auto;
    width: 15%;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    background-color: #24b0c0;
}

.textContent{
    height: auto;
    width: 85%;
}
