.main{
    width: 160rem;
    height: 80rem;
}

.body{
    width: 160rem;
    height: 64rem;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)),url('../../../Assets/Images/meet.jpeg');
    position: relative;
    background-size: 110%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texts h1{
    font-size: 8rem;
    color: #ffffff;
}

.texts h2{
    font-size: 7rem;
    color: #FFDF34;
    font-style: italic;
    font-family: Boska;
}

.bodyText{
    color: #ffffff;
    text-align: justify;
    width: 66rem;
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin-top: 4rem;
}

.button{
    width: 36rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button p{
    margin-top: 4rem;
    border-width: 2px;
    width: 14rem;
    height: 3.6rem;
    font-size: 2rem;
    line-height: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.2rem;
}

.btn1{
    color: #8bb4d5;
    background-color: #ffffff;
    border: none;
}

.btn2{
    color: #ffffff;
    border: 2px solid #ffffff;
}

@media (max-width:90rem)
{
    .main{
        width: 90rem;
        height: 60rem;
    }
    .body{
        width: 90rem;
        height: 48rem;
    }

    .texts h1{
        font-size: 5rem;
        line-height: 4.8rem;
    }

    .texts h2{
        font-size: 4rem;
        line-height: 3.9rem;
    }

    .bodyText{
        width: 50rem;
        font-size: 1.2rem;
        text-align: center;
    }

    .button{
        height: 2rem;
        width: 30rem;
    }

    .button p{
        font-size: 1.5rem;
        line-height: 1.4rem;
        width: 12rem;
        height: 2.8rem;

    }
}

@media (max-width:64rem)
{
    .main{
        width: 64rem;
        height: 38rem;
    }
    .body{
        width: 64rem;
        height: 32rem;
    }

    .texts h1{
        font-size: 3rem;
        line-height: 2.8rem;
    }

    .texts h2{
        font-size: 2.6rem;
        line-height: 2rem;
    }

    .bodyText{
        width: 40rem;
        font-size: 0.8rem;
        line-height: 1rem;
        text-align: center;
    }

    .button{
        height: 1.6rem;
        width: 22rem;
    }

    .button p{
        font-size: 0.8rem;
        line-height: 0.7rem;
        width: 6rem;
        height: 1.6rem;

    }
}