.navBar{
    margin-inline: 2rem;
    margin-top: 2rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px;
    color: #ffffff;
    font-weight: 500;
    position: absolute;
    z-index: 1000;
}

.sectionA{
    width: 60%;
}

.sectionB{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
