.main{
    height: 100vh;
    width: 100%;
    background-image: url('../../../Assets/Images/meet.jpeg');
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:end;
    padding: 4rem;
    z-index: -1;
}


.texts p:first-child{
    color: #ffffff;
    font-size: 40px;
}

.texts p:last-child{
    color: rgb(237, 237, 50);
    font-size: 30px;
    font-family: serif;
    font-style: italic;
}