.navBar{
    position: absolute;
    top: 6rem;
    width: 100%;
    height: 4rem;
    color: #70b6f0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 10rem;
}

.navBar p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.9rem;
    letter-spacing: -1%;

}

.left{
    display: flex;
    align-items: center;

}

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    
}

@media (max-width:125rem){
    .navBar p{
        font-size: 1.8rem;
        line-height: 1.7rem;
    }

    .right {
        width: 50%;
        justify-content: space-evenly;
    }
}



@media (max-width:90rem){
    .navBar{
        top: 4rem;
        padding-inline: 6rem;
    }

    .navBar p{
        font-size: 1.7rem;
        line-height: 1.6rem;
    }

}


@media (max-width:64rem){
    .navBar{
        top: 3rem;
        padding-inline:3rem;
    }

    .navBar p{
        font-size: 1.1rem;
        line-height: 1rem;
    }

}

@media (max-width:768px){
    .navBar{
        top: 2rem;
        height: 2rem;
    }

    .navBar p{
        scale: 0.7;
    }


}


