.heading{
    position: absolute;
    top: 1362px;
    left: 40px;
}

.card1{
    position: absolute;
    top: 1383px;
    left: 386px;
}

.card2{
    position: absolute;
    top: 1383px;
    left: 833px;
}

.card3{
    position: absolute;
    top: 1806px;
    left: 386px;
}

.card4{
    position: absolute;
    top: 1806px;
    left: 833px;
}

