.main{
   height: auto;
   padding-inline: 4rem;
}

.body{
    display: flex;
    flex-direction: row;
}

.heading{
    width: 24rem;
}

.blank{
    width: 30%;
}


.blocks{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.cards{
    flex-basis: 45%;
    margin: 1.25rem;
}



@media (max-width:90rem){
    .main{
        padding-inline: 3rem;
    }
    .blank{
        width: 10%;
    }

    .blocks{
        width: 90%;
    }
}

@media (max-width:64rem)
{
    .main{
        padding-inline: 2.rem;
    }

    .body{
        margin-top: 0.5rem;
        flex-direction: column;
    }

    .blank{
        width: 0%;
    }

    .blocks{
        width: 100%;
    }

    .cards{
        flex-basis: 45%;
        margin: 0.5rem;
    }
}