.main{
    width: full;
    /* min-height: 100vh; */
    height: 100vh;
    background-color: #60a5fa;
    box-sizing: border-box;
    padding-inline: 4rem;
    padding-block: 2.5rem;
}

.navBar{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px;
    color: #ffffff;
    font-weight: 500;
}

.sectionA{
    width: 60%;
}

.sectionB{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.header{
    width:100%;
    height: 62.5%;
    display: flex;
    flex-direction: row;
}

.subHeadA{
    width: 50%;
    height: 100%;
    padding-block: 1.5rem;
    padding-inline: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: baseline;
}

.subHeadA h1{
    font-size: 4.5rem;
    color: white;
}

.subHeadA h2{
    font-size: 3rem;
    font-family: serif;
    font-style: italic;
    color: #facc15;
}

.subHeadB{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding-inline-end: 2rem;
    border-bottom-width: 2px;
    border-bottom-color: #ffffff;    
}

.subHeadB p{
    width: 16rem;
    height: 16rem;
    margin-block-start: 2rem;
    background-color:#051f40;
}

.textPara p{
    width: 100%;
    color: #fff;
    padding-inline: 0.5rem;
    text-align: justify;
}

.circle{
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.circle p{
    height: 2.5rem;
    width: 5rem;
    background-color: #9f9fa9;
    border-radius: 2.5rem 2.5rem 0 0;

}
