.ellipse{
    width: 100%;
    display: flex;
    justify-content: center;
}

.shape{
    height: 5rem;
    width: 10rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    background-color: #D9D9D9;
}

.main{
    margin-block-end: 10rem;
    margin-top: 9rem;
    display: flex;
    flex-direction: row;
    padding-inline: 4rem;
    justify-content: space-between;
}


.heading{
    width: 20%;
}

.midText{
    width: 20%;
    font-family: boska;
    font-weight: 500;
    font-style: italic;
    font-size: 3.5rem;
    line-height: 3.4rem;
    letter-spacing: -1%;
    color: #656565;
}

.lastSec{
    width: 40%;
}

.textPara{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    color: #656565;
}

.subText{
    position: relative;
    top: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: -0.01em;
    font-style: normal;
    color: #65656585;
}

.about{
    position: relative;
    top: 6rem;
    width: fit-content;
    height: 2rem;
    border-bottom: 2px solid #70B6F0;
}

.link{
    color: #70B6F0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.8rem;
    letter-spacing: -2%;
}

@media (max-width:90rem)
{
    .shape{
        height: 4rem;
        width: 8rem;
        border-bottom-left-radius: 4rem;
        border-bottom-right-radius: 4rem;
    }

    .main{
        margin-top: 6rem;
        padding-inline: 3rem;
        margin-block-end: 8rem;

    }

    .heading{
        width: 20%;
    }

    .midText{
        width:22%;
        font-size: 2.8rem;
        line-height: 2.7rem;
    }

    .textPara{
        font-size: 1.2rem;
        line-height: 1.3rem;
    }

    .about{
        top: 3rem;
        height: 1.7rem;
    }

    .link{
        font-size: 1.3rem;
        line-height: 1.2rem;
    }

}

@media (max-width:64rem)
{
    .shape{
        height: 3rem;
        width: 6rem;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
    .main{
        margin-top: 5rem;
        padding-inline: 2rem;
        margin-block-end: 6rem;
    }

    .heading{
        width: 20%;
    }

    .midText{
        font-size: 2.1rem;
        line-height: 2rem;
    }

    .textPara{
        font-size: 1rem;
        line-height: 1rem;
    }

    .about{
        top: 2.5rem;
        height: 1.6rem;
    }

    .link{
        font-size: 1.1rem;
        line-height: 1.1rem;
    }

}

@media (max-width:768px)
{
    .shape{
        height: 3rem;
        width: 6rem;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
    .main{
        padding-inline: 1rem;
        margin-top: 4rem;
    }

    .heading{
        width: 20%;
    }

    .midText{
        width: 25%;
        font-size: 1.8rem;
        line-height: 1.9rem;
    }

    .textPara{
        font-size: 0.8rem;
        line-height: 0.9rem;
    }

    .about{
        top: 2.1rem;
        height: 1.5rem;
    }

    .link{
        font-size: 1rem;
        line-height: 1rem;
    }

}
