
.heading{
    position: absolute;
    top:859px;
    left: 40px;
    width: 256px;
    height: 21px;
    color: #656565;
}

.midText{
    width: 263px;
    height: 84px;
    position: absolute;
    top: 848px;
    left: 386px;
    font-family: boska;
    font-weight: 500;
    font-style: italic;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: -1%;
    color: #656565;
}

.textPara{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22.01px;
    letter-spacing: -1%;
    width: 480px;
    height: 286px;
    position: absolute;
    top: 858px;
    left: 757px;
    color: #656565;
}

.subText{
    position: relative;
    top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.01px;
    letter-spacing: -0.01em;
    font-style: normal;
    color: #65656565;
}

.about{
    position: absolute;
    top: 1192px;
    left: 754px;
    width: auto;
    height: 21px;
    border-bottom: 1px solid #70B6F0;
    padding-block-end: 1rem;

}

.link{
    position: relative;
    top: -5px;
    color: #70B6F0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 15.81px;
    letter-spacing: -2%;
}