.main{
    margin-top: 9rem;
    /* width: 100%; */
    height: 46rem;
    display: flex;
    flex-direction: row;
    padding-inline: 4rem;
    justify-content: space-between;
}


.heading{
    width: 24rem;
    height: 1.5rem;
    color: #656565;
}

.midText{
    width: 28rem;
    height: 84px;
    font-family: boska;
    font-weight: 500;
    font-style: italic;
    font-size: 3.5rem;
    line-height: 3.4rem;
    letter-spacing: -1%;
    color: #656565;
}

.textPara{
    width: 56rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -1%;
    color: #656565;
}

.subText{
    position: relative;
    top: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: -0.01em;
    font-style: normal;
    color: #65656585;
}

.about{
    position: relative;
    top: 6rem;
    width: fit-content;
    height: 2rem;
    border-bottom: 2px solid #70B6F0;
}

.link{
    color: #70B6F0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.8rem;
    letter-spacing: -2%;
}

@media (max-width:90rem)
{
    .main{
        width: 90rem;
        height: 32rem;
        margin-top: 7rem;
    }

    .heading{
        width: 16rem;
    }

    .midText{
        width:24rem;
        font-size: 3rem;
        line-height: 2.8rem;
    }

    .textPara{
        width: 36rem;
        font-size: 1.5rem;
        line-height: 1.4rem;
    }

    .link{
        font-size: 1.5rem;
        line-height: 1.4rem;
    }

}

@media (max-width:64rem)
{
    .main{
        width: 64rem;
        height: 30rem;
        padding-inline: 2.4rem;
    }

    .heading{
        width: 12rem;
    }

    .midText{
        width:20rem;
        font-size: 2.5rem;
        line-height: 2.8rem;
    }

    .textPara{
        width: 24rem;
        font-size: 1.2rem;
        line-height: 1.1rem;
    }

    .about{
        top: 4rem;
    }

    .link{
        font-size: 1.3rem;
        line-height: 1.2rem;
    }

}

