.main{
    background-color: #70b6f0;
    display: flex;
    flex-direction: row;
    padding-inline: 4rem;   
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-block: 5rem;
    margin-top: 15rem;
}

.left{
    width: 50%;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-size: 8rem;
    line-height: 7.9rem;
    font-weight: 800;
    font-style: italic;
}

.icons{
    display: flex;
    flex-direction: row;
}

.icons div{
    margin: 2rem;
    height: 5rem;
    width: 5rem;
    border: 2px solid #eecd20;
    border-radius: 2.5rem;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.iconA{
    background-image: url('../Assets/Images/x-logo.png');
}

.iconB{
    background-image: url('../Assets/Images/ins-logo.png');
   
}

.iconC{
    background-image: url('../Assets/Images/in-logo.png');
}

.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading{
    height: 3rem;
    width: 30rem;
    border-bottom: 2px solid #eecd20;
    font-size: 2rem;
    line-height: 1.8rem;
}

.navigate{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    margin-top: 2rem;
}

.address{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 400;
    margin-top: 2rem;
}

.address p{
    margin-inline-end: 1rem;
}


@media (max-width:90rem){
    .main{
        margin-top: 8rem;
        padding-inline: 3rem;
        padding-block: 4rem;
    }

    .left{
        min-height: 25rem;
    }


    .logo{
        font-size: 5rem;
        line-height: 4.9rem;
    }
    
    .icons div{
        height: 3rem;
        width: 3rem;
        margin: 1.3rem;
    }

    .heading{
        height: 2.1rem;
        width: 22rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .navigate{
        font-size: 1.2rem;
        line-height: 2rem;
        margin-top: 1.5rem;
    }

    .address{
        font-size: 1.2rem;
        line-height: 1.3rem;
        margin-top: 1.5rem;
    }
}

@media (max-width:64rem){
    .main{
        margin-top: 6rem;
        padding-inline: 2rem;
        padding-block: 3rem;
    }

    .left{
        min-height: 18rem;
    }


    .logo{
        font-size: 4rem;
        line-height: 3.9rem;
    }
    
    .icons div{
        height: 2.5rem;
        width: 2.5rem;
        margin: 1.2rem;
    }

    .heading{
        height: 1.7rem;
        width: 15rem;
        font-size: 1.2rem;
        line-height: 1.1rem;
    }

    .navigate{
        font-size: 0.9rem;
        line-height: 1.5rem;
        margin-top: 1.5rem;
    }

    .address{
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin-top: 1.5rem;
    }
}

@media (max-width:768px){
    .main{
        margin-top: 4rem;
        padding-inline: 1rem;
        padding-block: 2rem;
    }

    .left{
        min-height: 14rem;
    }


    .logo{
        font-size: 3rem;
        line-height: 2.9rem;
    }
    
    .icons div{
        height: 2rem;
        width: 2rem;
        margin: 1.2rem;
    }

    .heading{
        height: 1.4rem;
        width: 12rem;
        font-size: 1rem;
        line-height: 1rem;
        margin-top: 1.5rem;
    }

    .navigate{
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin-top: 1rem;
    }

    .address{
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin-top: 1rem;
    }
}