.main{
    position: absolute;
    top: 3060px;
    height: 100vh;
    width: 100%;
}

.main h2{
    position: absolute;

    left: 39px;
}

.list{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brands{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid #aeaeb7;
    border-bottom: 2px solid #aeaeb7;
    padding-block: 0.75rem;
}

.list .brands:first-child{
    border-bottom: none;
}

.list .brands:last-child{
    border-top: none;
}

.brands p{
    object-fit: contain;
    margin: 0.5rem;

}

.brands p{    
    height: 45.5px;
    width: 45.5px;
    border-width: 2px;
}

.img1{
    background-image: url('../../../Assets/Images/brand1.png');
    background-position: center;
    background-size: cover;

}

.brands h6{
    height: auto;
    margin: 0.5rem;
}